<form method="post" action="{{ path('app_dossier_const_deleteAdmin', {'id': dossier_const.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ dossier_const.id) }}">
    <button class="btn btn-danger"><ion-icon name="trash"></ion-icon>
    </button>
</form>