{% extends 'BaseBack.html.twig' %}

{% block title %}Dossier Construction{% endblock %}

{% block body %}
    <div class="container position-relative aos-init aos-animate" data-aos="fade-up">
        <br>
        <h1 align="center">Modifier Dossier</h1>
        <br>
        {{ include('dossier_const/_formAdmin.html.twig',) }}
        <hr>
        <a class="bi bi-chevron-bar-left" href="{{ path('app_dossier_const_indexAdmin') }}"><ion-icon name="chevron-back"></ion-icon></a>
        <hr>
        {{ include('dossier_const/_delete_formAdmin.html.twig') }}
    </div>
{% endblock %}
