{{ form_start(form,{attr:{novalidate:'novalidate'}}) }}
{{form_widget(form) }}
<br>
<button class=" btn btn-success">{{ button_label|default('') }}<ion-icon name="checkbox-outline"></ion-icon></button>
{{ form_end(form) }}
sy