{% extends 'baseBack.html.twig' %}

{% block title %}Edit MissionDeco{% endblock %}
{% block hero %}

    <div class="breadcrumbs d-flex align-items-center" style="background-image: url({{ asset('assets/img/services-header.jpg') }})">
        <div class="container position-relative d-flex flex-column align-items-center">

            <h2>Gestion de decoration</h2>
            <ol>
                <li><a href="http://127.0.0.1:8000/dossier/const/home">Home</a></li>
                <li>Gestion de decoration</li>
            </ol>

        </div>
    </div>

{% endblock %}

{% block body %}
<div class="container position-relative aos-init aos-animate" data-aos="fade-up">

<h1>Edit MissionDeco</h1>

    {{ include('mission_deco/_formAdmin.html.twig', {'button_label': ''}) }}
    <hr>
    <a href="{{ path('app_mission_deco_indexAdmin') }}"><ion-icon name="chevron-back-outline"></ion-icon></a>
    <hr>
    {{ include('mission_deco/_deleteAdmin_form.html.twig') }}
</div>
{% endblock %}
